zoom(val){
  zoom: val;
  -moz-transform: scale(val);
  -moz-transform-origin: 0 0;
  -o-transform: scale(val);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(val);
  -webkit-transform-origin: 0 0;
  transform: scale(val);
  transform-origin: 0 0;
}