@import "grids.styl"

e-zoom(val)
  zoom: val;
  -moz-transform: scale(val);
  -moz-transform-origin: 0 0;
  -o-transform: scale(val);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(val);
  -webkit-transform-origin: 0 0;
  transform: scale(val);
  transform-origin: 0 0;

e-border-radius(val)
  -webkit-border-radius: val;
  -moz-border-radius: val;
  border-radius: val;

e-kit(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

e-placeholder(args)
  ::-webkit-input-placeholder args
  ::--moz-placeholder args
  ::-moz-placeholder args
  ::-ms-input-placeholder args

e-transition(target, duration = 0.5s, delay = 0s, type = ease-in-out)
  transition-property: target;
  transition-duration: duration;
  transition-timing-function: type;
  transition-delay: delay;
  -webkit-transition-property: target;
  -webkit-transition-duration: duration;
  -webkit-transition-timing-function: type;
  -webkit-transition-delay: delay;

e-effect(val)
  -ms-transform: val; /* IE 9 */
  -webkit-transform: val; /* Chrome, Safari, Opera */
  transform: val;
