e-bootstrap-lg = 1200px
e-bootstrap-md = 992px
e-bootstrap-sm = 768px
e-bootstrap-xs = 0px

e-media-bootstrap-lg()
  @media only screen and (min-width:e-bootstrap-lg)

e-media-bootstrap-md()
  @media only screen and (min-width:e-bootstrap-md)

e-media-bootstrap-sm()
  @media only screen and (min-width:e-bootstrap-sm)

e-media-bootstrap-xs()
  @media only screen and (min-width:e-bootstrap-xs)

e-media-bootstrap-min-lg()
  e-media-lg()

e-media-bootstrap-min-md()
  e-media-md()

e-media-bootstrap-min-sm()
  e-media-sm()

e-media-bootstrap-min-xs()
  e-media-xs()

e-media-bootstrap-lg()
  @media only screen and (max-width:e-bootstrap-lg)

e-media-bootstrap-md()
  @media only screen and (max-width:e-bootstrap-md)

e-media-bootstrap-sm()
  @media only screen and (max-width:e-bootstrap-sm)

e-media-bootstrap-xs()
  @media only screen and (max-width:e-bootstrap-xs)
